<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: white;" >Bienvenido</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" style="color: white;" [routerLink]="['/home']">Home</a>
        <a class="nav-item nav-link" style="color: white;" href='#' (click)="cerrarSesion()">Cerrar Sesion</a>
      </div>
    </div>
  </nav>

  
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-50 col-xl-50">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-4">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-4 mt-4">Home</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
